*{
  box-sizing:border=box;
}
body{
  background-color:#D980FA;
  margin:0;
  min-height:100px;
}
.container{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100px;
}
.display{
  background-color:#fff;
  box-shadow: 2px, 2px, 5px rgb(0, 0, 0, 0.4);
  display:flex; 
  flex-wrap:wrap;
  width:400px;
  padding:20px;
  margin-top:400px;
}
.display h1{
  display:block;
  width:100px;
  text-align:center;
}
.drum-pad{
  background-color:#2C3335;
  color:#FFF;
  box-shadow: 2px, 2px, 5px rgb(0, 0, 0, 0.4);
  cursor:pointer;
  border:2px solid#BB2CD9;
  border-radius:4px;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100px;
  width:100px;
  margin:10px;
  font-size:60px;
  
}
.drum-pad.active{
  opacity:0.8;
  transform:scale(0.95);
}
